.main_container {
  width: 100%;
}

.main_container .regions_container {
  display: flex;
  justify-content: center;
}

.main_container .regions_container > button {
  width: 15%;
  background-color: rgb(223, 71, 130);
  border: none;
  color: rgb(255, 203, 224);
  cursor: pointer;
}

.main_container .country_selected {
  background-color: rgb(250, 79, 145);
  width: 100%;
  height: 125px;
  display: flex;
}

.main_container .country_selected .europe_img {
  background-image: url(../img/europe.PNG);
  background-repeat: no-repeat, repeat;
  background-position: right;
  width: 50%;
  height: auto;
}

.main_container .country_selected .header_container {
  width: 50%;
  text-align: left;
  padding-left: 5%;
  align-self: center;
}

.main_container .country_selected .header_container .country_name {
  text-align: left;
  padding-left: 5%;
  font-size: 1.2rem;
  align-self: center;
  color: rgb(251, 249, 253);
}

.main_container .country_selected .header_container .region_stats {
  text-align: left;
  padding-left: 5%;
  font-size: 0.8rem;
  align-self: center;
  color: rgb(251, 249, 253);
}

.main_container .division_main {
  display: flex;
  justify-content: flex-start;
  height: 20px
}

.main_container .division_main .title_main {
  font-size: 0.75rem;
  color: rgb(251, 249, 253);
  font-weight: 400;
  font-family: 'lato';
  align-self: center;
  padding-left: 1%;
}

.main_container .group_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 200px;
}
