.nav_main_cont .nav_menu {
  display: flex;
  justify-content: center;
  padding: 1% 0;
}

.nav_main_cont .nav_menu > a {
  display: flex;
  justify-content: center;
  color: rgb(255, 203, 224);
  cursor: not-allowed;
  font-family: 'lato';
  font-weight: lighter;
}
